In [15]:
import os
import glob
import pandas as pd
import numpy as np
import random
os.chdir('/Users/rishi/Desktop/DAEN 690/indeed')

In [16]:
extension = 'csv'
csv_file = [i for i in glob.glob('*.{}'.format(extension))]

In [17]:
combined_csv = pd.concat([pd.read_csv(f) for f in csv_file ])
combined_csv.to_csv( "Job_posting_indeed.csv", index=False, encoding='utf-8-sig')

In [18]:
indeed=pd.read_csv('Job_posting_indeed.csv')

In [19]:
#delete the first column
del indeed['Unnamed: 0']

In [20]:
#method 1 for removinfg new from title
indeed['title'] = indeed['title'].str.lstrip('new')

In [21]:
indeed.head()

,title,company,salary,summary,location
0,Software Developer (No Prior Experience Required),Revature,NaN,College degree (Associates or Bachelors).\nMus...,"Washington, DC"
1,SQL Application Developer,ServiceSource Inc.,NaN,Assist with the management and coordination be...,"Capitol Heights, MD"
2,GIS Developer,Leidos,NaN,Train other team members on GIS and other GIS ...,"Washington, DC 20090 (South West area)+1 location"
3,Jr Software Developer,KSquare Inc.,NaN,BS/ MS in IT or equivalent is required with st...,"Greenbelt, MD 20770"
4,HP059 Junior Software Developer,"ADNET Systems, Inc.",NaN,Experience with using a Git workflow for softw...,"Greenbelt, MD 20771"

In [22]:
indeed.isnull().sum()

title           0
company         0
salary      11121
summary         0
location        0
dtype: int64

In [23]:
#indeed = indeed.dropna()

In [24]:
indeed['salary'] = indeed['salary'].str.rstrip('a year')
indeed['salary'] = indeed['salary'].str.rstrip('an hour')
indeed['salary'] = indeed['salary'].str.rstrip('a week')
indeed['salary'] = indeed['salary'].str.rstrip('a month')
indeed['salary'] = indeed['salary'].str.lstrip('Up to ')
indeed['salary'] = indeed['salary'].str.lstrip('From ')
indeed['salary'] = indeed['salary'].str.rstrip(' a d')

In [25]:
indeed[['salary1','salary2']] = indeed.salary.str.split("-",expand=True)
indeed['salary1'] = indeed['salary1'].str.lstrip('$')
indeed['salary2'] = indeed['salary2'].str.lstrip(' $')

In [26]:
indeed['salary1'] = indeed['salary1'].replace(',','', regex=True)
indeed['salary2'] = indeed['salary2'].replace(',','', regex=True)

In [27]:
indeed['salary1'] = pd.to_numeric(indeed['salary1'])
indeed['salary2'] = pd.to_numeric(indeed['salary2'])

In [28]:
for i in range(0,len(indeed)):    
    if indeed['salary1'][i] in range(0,200):
        indeed['salary1'][i] = (indeed['salary1'][i]) * 40 * 52
    elif (indeed['salary1'][i]) in range(201,4000):
        indeed['salary1'][i] = (indeed['salary1'][i]) * 52
    elif (indeed['salary1'][i]) in range(4001,30000):
        indeed['salary1'][i] = (indeed['salary1'][i]) *12

/Users/rishi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/rishi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/rishi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [29]:
for i in range(0,len(indeed)):    
    if indeed['salary2'][i] in range(0,200):
        indeed['salary2'][i] = (indeed['salary2'][i]) * 40 * 52
    elif (indeed['salary2'][i]) in range(201,3000):
        indeed['salary2'][i] = (indeed['salary2'][i]) * 52
    elif (indeed['salary2'][i]) in range(3001,30000):
        indeed['salary2'][i] = (indeed['salary2'][i]) *12

/Users/rishi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/rishi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
del indeed['salary']

In [ ]:
indeed = indeed.dropna()

In [ ]:
indeed.info()

In [135]:
col = indeed.loc[: , "salary1":"salary2"]

In [136]:
indeed['salary3'] = col.mean(axis=1)
indeed

,title,company,summary,location,salary1,salary2,salary3
8,Front End Web Developer,National Security Agency,Must also demonstrate knowledge (through cours...,"Fort Meade, MD",87198.0,113362.0,100280.0
9,Entry Level Software Developer,EAI Technologies,"Work in a fast-paced, hands-on capacity in a c...","Vienna, VA 22182•Temporarily Remote",70000.0,90000.0,80000.0
10,Software Engineer,Emerson Automation Solutions,We are looking for a meticulous leader and sof...,"Washington, DC",91000.0,145000.0,118000.0
12,Software Developer,EAI Technologies,"Be the driver to work in a fast-paced, hands-o...","Vienna, VA 22182•Temporarily Remote",90000.0,120000.0,105000.0
13,Junior Software Developer,Engineering Software and Network Services (ESNS),Track and manage system performance and identi...,"Washington, DC•Temporarily Remote",65000.0,70000.0,67500.0
...,...,...,...,...,...,...,...
12818,Senior Data Analyst,Confidential Priviately-Held Company,Data mapping (data definitions and business ru...,United States,150000.0,175000.0,162500.0
12832,Senior Data Analyst,Confidential Priviately-Held Company,Data mapping (data definitions and business ru...,United States,150000.0,175000.0,162500.0
12858,Senior Data Analyst,Confidential Priviately-Held Company,Data mapping (data definitions and business ru...,United States,150000.0,175000.0,162500.0
12871,Senior Data Analyst,Confidential Priviately-Held Company,Data mapping (data definitions and business ru...,United States,150000.0,175000.0,162500.0
12886,Senior Data Analyst,Confidential Priviately-Held Company,Data mapping (data definitions and business ru...,United States,150000.0,175000.0,162500.0

In [137]:
indeed1 = indeed.copy()

In [138]:
indeed2 = indeed.copy()

In [139]:
indeed3 = indeed.copy()

In [140]:
del indeed1['salary2']
del indeed1['salary3']

In [141]:
del indeed2['salary1']
del indeed2['salary3']

In [142]:
del indeed3['salary1']
del indeed3['salary2']

In [143]:
indeed1['Experience'] = np.random.randint(3, 5, indeed.shape[0])

In [144]:
indeed2['Experience'] = np.random.randint(9, 12, indeed.shape[0])

In [145]:
indeed3['Experience'] = np.random.randint(6, 8, indeed.shape[0])

In [146]:
indeed1 = indeed1.rename(columns = {"salary1":"salary"})

In [147]:
indeed2 = indeed2.rename(columns = {"salary2":"salary"})

In [148]:
indeed3 = indeed3.rename(columns = {"salary3":"salary"})

In [149]:
os.chdir('/Users/rishi/Desktop/DAEN 690/glassdoor')

In [150]:
glassdoor=pd.read_csv('jobs.csv')

In [151]:
del glassdoor['Rating']
del glassdoor['Headquarters']
del glassdoor['Size']
del glassdoor['Founded']
del glassdoor['Type of ownership']
del glassdoor['Industry']
del glassdoor['Sector']
del glassdoor['Revenue']
del glassdoor['Competitors']
del glassdoor['Easy Apply']

In [152]:
glassdoor.rename(columns={'Job Title': 'title', 'Salary Estimate': 'salary','Job Description':'summary','Company Name':'company','Location':'location'}, inplace=True)

In [153]:
glassdoor.head()

,title,salary,summary,company,location
0,Project Manager / Business Analyst,$77K-$151K (Glassdoor est.),Project Manager / Business Analyst\n\n\nIn the...,DNTG\n2.9,"Buena Park, CA"
1,Project Manager / Business Analyst,$41K-$81K (Glassdoor est.),This is a hybrid role of PM and BA with 3 to 5...,Diversant LLC\n3.8,"Houston, TX"
2,Project Manager/Business Consultant,$45K-$53K (Glassdoor est.),Project Manager/Business Consultant\n\nRespons...,TEC Group Inc,"Houston, TX"
3,Project Manager Business Analyst,$89K-$107K (Glassdoor est.),"Job Description\nAt E78, we assist our clients...",Trillium Solutions Group\n4.8,"Horsham, PA"
4,Project Manager Business Analyst,$36K-$73K (Glassdoor est.),Job Description\nCSS Tec is currently seeking ...,Contemporary Staffing Solutions\n4.4,"Jacksonville, FL"

In [154]:
glassdoor['salary'] = glassdoor['salary'].str.rstrip(' (Glassdoor est.)')

In [155]:
glassdoor['salary'] = glassdoor['salary'].str.rstrip('(Employ')

In [156]:
glassdoor['salary']

0       $77K-$151K
1        $41K-$81K
2        $45K-$53K
3       $89K-$107K
4        $36K-$73K
           ...
2137     $43K-$72K
2138    $91K-$143K
2139    $48K-$107K
2140    $48K-$107K
2141    $48K-$107K
Name: salary, Length: 2142, dtype: object

In [157]:
glassdoor['salary'] = glassdoor['salary'].str.rstrip('a year')
glassdoor['salary'] = glassdoor['salary'].str.rstrip('an hour')
glassdoor['salary'] = glassdoor['salary'].str.rstrip('a week')
glassdoor['salary'] = glassdoor['salary'].str.rstrip('a month')
#glassdoor['salary'] = glassdoor['salary'].str.lstrip('Up to ')
#glassdoor['salary'] = glassdoor['salary'].str.lstrip('From ')
glassdoor['salary'] = glassdoor['salary'].str.rstrip('Per Hou')

In [158]:
glassdoor[['salary1','salary2']] = glassdoor.salary.str.split("-",expand=True)
glassdoor['salary1'] = glassdoor['salary1'].str.lstrip('$')
glassdoor['salary2'] = glassdoor['salary2'].str.lstrip(' $')
glassdoor['salary1'] = glassdoor['salary1'].str.lstrip('$')
glassdoor['salary2'] = glassdoor['salary2'].str.lstrip(' $')

In [159]:
glassdoor['salary1'] = glassdoor['salary1'].str.rstrip('K')
glassdoor['salary2'] = glassdoor['salary2'].str.rstrip('K')

In [160]:
glassdoor['salary1'] = pd.to_numeric(glassdoor['salary1'])
glassdoor["salary1"] = 1000 * glassdoor["salary1"]
glassdoor['salary2'] = pd.to_numeric(glassdoor['salary2'])
glassdoor["salary2"] = 1000 * glassdoor["salary2"]

In [161]:
del glassdoor['salary']

In [162]:
col = glassdoor.loc[: , "salary1":"salary2"]
glassdoor['salary3'] = col.mean(axis=1)
glassdoor

,title,summary,company,location,salary1,salary2,salary3
0,Project Manager / Business Analyst,Project Manager / Business Analyst\n\n\nIn the...,DNTG\n2.9,"Buena Park, CA",77000,151000,114000.0
1,Project Manager / Business Analyst,This is a hybrid role of PM and BA with 3 to 5...,Diversant LLC\n3.8,"Houston, TX",41000,81000,61000.0
2,Project Manager/Business Consultant,Project Manager/Business Consultant\n\nRespons...,TEC Group Inc,"Houston, TX",45000,53000,49000.0
3,Project Manager Business Analyst,"Job Description\nAt E78, we assist our clients...",Trillium Solutions Group\n4.8,"Horsham, PA",89000,107000,98000.0
4,Project Manager Business Analyst,Job Description\nCSS Tec is currently seeking ...,Contemporary Staffing Solutions\n4.4,"Jacksonville, FL",36000,73000,54500.0
...,...,...,...,...,...,...,...
2137,"Software Development Engineering, Analyst",Position Description What does a great Softwa...,Fiserv\n3.1,"Chicago, IL",43000,72000,57500.0
2138,Software Developer / Analyst,Job Title : Software Developer / Analyst Job...,Genuine IT\n4.3,"Houston, TX",91000,143000,117000.0
2139,Test Automation Analyst - II,SWBC has been recognized as one of the Best Co...,Southwest Business Corporation\n3.1,"San Antonio, TX",48000,107000,77500.0
2140,Test Automation Analyst II,SUMMARY\n\nCreates and maintains manual and au...,SWBC\n3.1,"San Antonio, TX",48000,107000,77500.0
2141,Test Automation Analyst II,SUMMARY Creates and maintains manual and auto...,SWBC\n3.1,"San Antonio, TX",48000,107000,77500.0

In [163]:
glassdoor1 = glassdoor.copy()

In [164]:
glassdoor2 = glassdoor.copy()

In [165]:
glassdoor3 = glassdoor.copy()

In [166]:
del glassdoor1['salary2']
del glassdoor1['salary3']

In [167]:
del glassdoor2['salary1']
del glassdoor2['salary3']

In [168]:
del glassdoor3['salary1']
del glassdoor3['salary2']

In [169]:
glassdoor1['Experience'] = np.random.randint(3, 5, glassdoor1.shape[0])

In [170]:
glassdoor2['Experience'] = np.random.randint(9, 12, glassdoor2.shape[0])

In [171]:
glassdoor3['Experience'] = np.random.randint(6, 8, glassdoor2.shape[0])

In [172]:
glassdoor1 = glassdoor1.rename(columns = {"salary1":"salary"})
glassdoor2 = glassdoor2.rename(columns = {"salary2":"salary"})

In [173]:
glassdoor3 = glassdoor3.rename(columns = {"salary3":"salary"})

In [174]:
frame = [indeed1,indeed2,indeed3,glassdoor1,glassdoor2,glassdoor3]
total_data = pd.concat(frame)
total_data.head()

,title,company,summary,location,salary,Experience
8,Front End Web Developer,National Security Agency,Must also demonstrate knowledge (through cours...,"Fort Meade, MD",87198.0,4
9,Entry Level Software Developer,EAI Technologies,"Work in a fast-paced, hands-on capacity in a c...","Vienna, VA 22182•Temporarily Remote",70000.0,3
10,Software Engineer,Emerson Automation Solutions,We are looking for a meticulous leader and sof...,"Washington, DC",91000.0,3
12,Software Developer,EAI Technologies,"Be the driver to work in a fast-paced, hands-o...","Vienna, VA 22182•Temporarily Remote",90000.0,4
13,Junior Software Developer,Engineering Software and Network Services (ESNS),Track and manage system performance and identi...,"Washington, DC•Temporarily Remote",65000.0,4

In [175]:
total_data["posted_date"] = np.random.choice(pd.date_range('01-01-2017', '12-31-2020'), len(total_data))

In [176]:
total_data.to_csv('total_jobs.csv')

In [177]:
frame1 = [indeed3,glassdoor3]
total_data_1 = pd.concat(frame1)
total_data_1.head()

,title,company,summary,location,salary,Experience
8,Front End Web Developer,National Security Agency,Must also demonstrate knowledge (through cours...,"Fort Meade, MD",100280.0,6
9,Entry Level Software Developer,EAI Technologies,"Work in a fast-paced, hands-on capacity in a c...","Vienna, VA 22182•Temporarily Remote",80000.0,7
10,Software Engineer,Emerson Automation Solutions,We are looking for a meticulous leader and sof...,"Washington, DC",118000.0,6
12,Software Developer,EAI Technologies,"Be the driver to work in a fast-paced, hands-o...","Vienna, VA 22182•Temporarily Remote",105000.0,7
13,Junior Software Developer,Engineering Software and Network Services (ESNS),Track and manage system performance and identi...,"Washington, DC•Temporarily Remote",67500.0,6

In [178]:
total_data_1 = total_data_1.drop('Experience', 1)

In [179]:
total_data_1['Experience'] = np.random.randint(3, 12, total_data_1.shape[0])

In [180]:
total_data_1["posted_date"] = np.random.choice(pd.date_range('01-01-2017', '12-31-2020'), len(total_data_1))

In [181]:
total_data_1.to_csv('total_jobs_1.csv')

In [182]:
total_data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3332 entries, 8 to 2141
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        3332 non-null   object
 1   company      3331 non-null   object
 2   summary      3332 non-null   object
 3   location     3332 non-null   object
 4   salary       3332 non-null   float64
 5   Experience   3332 non-null   int64
 6   posted_date  3332 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 208.2+ KB

In [ ]:
df$location asfactor